.venv
input.txt
test.txt
test_input.txt
test_input_2.txt
example.txt

target/
__pycache__/

# haskell build output
**/dist-newstyle

*.ipynb_checkpoints
*rchan.ipynb
*~

# mac nonsense
.DS_Store

# R
.Rhistory
